body {
    background-color: #f1f2f3;
}
.app {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
    width: 450px;
    height: 100%;
    margin:0 auto;
    padding: 0 40px 0px 40px;
    background-color: #d5cfb6;
    min-height: 100vh;
    
  }

  .app h1 {

      text-align: center;
      font-size: 2em;
      color: #3c3c20;
  }
  .app .list-of-planets {

    width: 80%;

    flex-basis: 100%;
    text-align: center;
  }

  .app .buttons {
    width: 100%;
  }
  
  .app .buttons .buttons-list {
    list-style: none;
    padding:0;
    text-align: center;
  }
  
  .app .buttons .buttons-list .button {
    color: #3c3c20;
    font-weight: 600;
    display: inline-block;
    padding: 5px 11px;
    margin: 0 2px;
    cursor: pointer;
  }
  
  .app .buttons .buttons-list .button.active {
    font-size: 1.1em;
    color: #3c3c20;
    text-decoration: underline;
    
  }

  @media screen and (max-width: 576px) {
    .app {
      width:100vw;
    }
  }
  